*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transition: all 1s ease;
}
body{
    background-image: url(../images/wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins',sans-serif;
    padding-top: 4%;
}
.container{
    background-color:rgba(0,0,0, 0.4);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    border-top: 3px solid #73a5c6;
    border-left: 3px solid #73a5c6;
    border-bottom: 3px solid #73a5c6;
    border-right: 3px solid #73a5c6;
    margin: 10px auto;
    width: 600px;
    height: 500px;
    padding: 20px;
}


h1{
    text-align: center;
    color: #fff;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 10px;
    text-align: center;
    color: #fff;
}

input[type="text"],
input[type="password"]{
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 450px;
    margin-left: 50px;
    color: white;
}

button {
    background-color: transparent;
    width: 200px;
    margin-left: 177px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}

button:hover{
    color: #212121;
    background-color: #73a5c6;
    border: 1px solid #73a5c6;
    transition: 0.5s ease;
}
.home-button{
    margin-left: 219px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
}
.home-button:hover{
    color: #212121;
    background-color: #73a5c6;
    border: 1px solid #73a5c6;
    transition: 0.5s ease;
}
@media (max-width: 768px){
    body{
        background-color: #212121;
        font-family: 'Poppins',sans-serif;
        padding-top: 4%;
    }
    .container{
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
        margin: 10px auto;
        width: 400px;
        padding: 20px;
    }
    
    h1{
        text-align: center;
        color: #fff;
    }
    
    form{
        display: flex;
        flex-direction: column;
    }
    
    label{
        margin-bottom: 10px;
        text-align: center;
        color: #fff;
    }
    
    input[type="text"],
    input[type="password"]{
        border-radius: 3px;
        border: 1px solid #ccc;
        box-sizing: border-box;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    button {
        background-color: #212121;
        border: none;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px;
    }
    
    button:hover{
        background-color: transparent;
        border: 1px solid #ffee00;
        transition: 0.5s ease;
    }
    .home-button{
        margin-left: 120px;
    }
    .home-button:hover{
        background-color: transparent;
        border: 1px solid #ffee00;
        transition: 0.5s ease;
    }
}